.food-pics {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

.food-pics img {
  height: 200px;
  width: 200px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}

.food-pics img:hover {
  position: fixed;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
  height: 300px;
  width: 300px;
}

.food-item {
  width: 200px;
}
