.profile-pic {
  height: 300;
  width: 300px;
}

.title-area {
  display: flex;

  width: 100%;
  margin-bottom: 150px;
}

.introduction {
  display: flex;
  flex: 2;

  flex-direction: column;
}

.social-links {
  display: flex;
  justify-content: center;
}
.social-links svg {
  fill: #fcfcfd;
  padding: 12px;
  height: 50px;
  width: 50px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}

.social-links svg:hover {
  position: relative;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
  height: 60px;
  width: 60px;
}
