.header {
  background-color: #aec6cf;
  padding: 5%;
  height: 10em;
  top: 0px;
}
.title-and-image {
  display: flex;
}
.hummus-pic {
  height: 30%;
  width: 30%;
}
.title {
  font-size: 30px;
  flex: 1;
  font-family: "Hepta Slab", serif;
}

.recipe-body li {
  font-family: "PT Serif", serif;
}
.recipe-body {
  padding-left: 10%;
  padding-right: 10%;
}
.recipe-body li {
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

.hummus-menu-item {
  margin-left: 20px;
}
.steps {
  list-style: none;
}
