.photo-section {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  flex-direction: column;
}

.photo-section img {
  height: 600px;
  width: 800px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}

.photo-item {
  width: 600px;
}
