html {
  background-color: #0c0f11;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}
body {
  color: #fcfcfd;
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #0c0f11;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: #fcfcfd 2px solid;
}
nav ul {
  display: flex;
  padding-left: 10px;
  list-style: none;
}
.nav-steven {
  font-size: 20px;
  font-weight: 600;
}
.nav-item {
  color: #fcfcfd;
  text-decoration: none;
  padding: 10px;
}

.night-mode-button {
  position: fixed;
  top: 2%;
  left: 1%;
  height: 40px;
  width: 40px;
}
